<p-table [value]="pilotak" [paginator]="true" [rows]="5" >
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="ID">S.
                <p-columnFilter type="text" field="ID" display="menu"></p-columnFilter>
            </th>
            <th pSortableColumn="nev">Név<p-sortIcon field="nev"></p-sortIcon></th>
            <th pSortableColumn="szuletes">Születés dátuma<p-sortIcon field="szuletes"></p-sortIcon></th>
            <th pSortableColumn="nemzet">Nemzetiség<p-sortIcon field="nemzet"></p-sortIcon></th>
            <th pSortableColumn="magassag">magasság<p-sortIcon field="magassag"></p-sortIcon></th>
            <th>Csapat név</th>
            <th>Csapat nemzetiség</th>
        </tr>
        <tr>
            <th>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <p-columnFilter type="text" field="nev" matchMode="contains"></p-columnFilter>
                </span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pilota>
        <tr>
            <td>{{pilota.ID}}</td>
            <td>{{pilota.nev}}</td>
            <td>{{pilota.szuletes}}</td>
            <td>{{pilota.nemzet}}</td>
            <td>{{pilota.magassag}}</td>
            <td>{{pilota.csapat?.nev}}</td>
            <td>{{pilota.csapat?.nemzet}}</td>
            <td>
                <p-button icon="pi pi-times" 
                class="p-button-rounded p-button-danger p-button-text" (click)="torles(pilota.ID)"
                Label="Törlés" ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Új adat hozzáadása" [(visible)]="display" [modal]="true" [style]="{width: '50vw', height: '90vh'}">
    
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText [(ngModel)]="ujpilota.nev"/>
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
        <p-calendar [(ngModel)]="ujpilota.szuletes"  dateFormat="yy-mm-dd"></p-calendar>
    </div>

    <div >
        <p-dropdown [options]="nemzetisegek" [(ngModel)]="ujpilota.nemzet" optionLabel="name" optionValue="code" [editable]="true" ></p-dropdown>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="Ok" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-chevron-left" (click)="cancel()" label="Mégse" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-button (click)="showDialog()" 
icon="pi pi-info-circle" label="Új adat hozzáadása..."></p-button>

<!--
    <table border="1">
    <tr *ngFor="let pilota of pilotak">
        <td>{{pilota.ID}}</td>
        <td>{{pilota.nev}}</td>
        <td>{{pilota.szuletes}}</td>
        <td>{{pilota.nemzet}}</td>
        <td>{{pilota.magassag}}</td>
        <td>{{pilota.csapat?.nev}}</td>
        <td>{{pilota.csapat?.nemzet}}</td>
        <td>
            <button (click)="torles(pilota.ID)">X</button>
        </td>
    </tr>
</table>

-->
